<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous" />
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet" />
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />


<div class="container">
    <form>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="client-full-info">Nombre completo del cliente:</label>
                    <select id="client-full-info" class="form-control">
                        {% for client in clients %}
                            <option value="Selection">Selección</option>
                            <option value="{{client.run}}">{{client.full_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="institution-info">Nombre instución:</label>
                    <select id="institution-info" class="form-control">
                        <option value="Selection">Selección</option>
                        {% for institution in institutions %}
                            <option value="{{institution.rut}}">
                                {{institution.business_name}}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="nombre-plan-salud">Nombre del plan de salud:</label>
                    <select id="nombre-plan-salud" class="form-control">
                        <option value="Selection">Selección</option>
                        {% for hp in health_plans %}
                            <option value="{{hp.id}}">
                                {{hp.name}}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="nombre-plan-salud-alternativo">Nombre del plan de salud alternativo:</label>
                    <select id="nombre-plan-salud-alternativo" class="form-control">
                        <option value="Selection">Selección</option>
                        {% for hp in health_plans %}
                            <option value="{{hp.id}}">
                                {{hp.name}}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="registered-letter-number">
                        Número de la carta certificada
                    </label>
                    <input id="registered-letter-number" class="form-control" type="number" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="porcentaje-aumento-precio-base">
                        Porcentaje del aumento del precio base
                    </label>
                    <input id="porcentaje-aumento-precio-base" class="form-control" type="number" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="precio-base-original">
                        Precio base original
                    </label>
                    <input id="precio-base-original" class="form-control" type="number" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="precio-base-reajustado">Precio base reajustado</label>
                    <input id="precio-base-reajustado" class="form-control" type="number">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="precio-final-original">Precio final original</label>
                    <input id="precio-final-original" class="form-control" type="number">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="precio-final-reajustado">Precio final reajustado</label>
                    <input id="precio-final-reajustado" class="form-control" type="number">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="fecha-envio-carta">Fecha del envío de la carta:</label>
                    <input id="datepicker-first" width="276" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="fecha-recepcion-carta">Fecha de la recepción de la carta:</label>
                    <input id="datepicker-second" width="276" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="fecha-recepcion-carta">Mes comienza precio reajustado:</label>
                    <input id="datepicker-third" width="276" />
                </div>
            </div>
        </div>
    </form>

    <div class="container mt-5 mb-5">
        <textarea id="summernote">

        </textarea>
    </div>

    <button id="create-docx" class="btn btn-success">Crear documento</button>
</div>

{% block js %}
<!-- Libraries -->
<script src="https://unpkg.com/docx@5.0.2/build/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<!-- Libraries -->

<!-- Datepickers -->
<script type="text/javascript">
    $('#datepicker-first').datepicker({
        uiLibrary: 'bootstrap4',
        format: "dd/mm/yyyy"
    });

    $('#datepicker-second').datepicker({
        uiLibrary: 'bootstrap4',
        format: "dd/mm/yyyy"
    });

    $('#datepicker-third').datepicker({
        uiLibrary: 'bootstrap4',
        format: "mm/yyyy",
        viewMode: "months",
        minViewMode: "months"
    });

    /*create_doc = document.getElementById('create_doc')
    create_doc.addEventListener('click', function(e) {
        let

        let health_plans = document.getElementById('health_plans')
        console.log(health_plans.options[health_plans.selectedIndex].value)
    })*/
</script>

<!-- Init summernote-->
<script>
    $(document).ready(function() {
        $('#summernote').summernote({
            height: 400,
        });
    });
</script>

<!-- Get protection appeal -->

<script>
    $.ajax(
        "/files/writing/"
    ).done(function(data) {
        $("#summernote").summernote("editor.pasteHTML", data)
    })
</script>

<!-- Download button -->
<script>
    create_doc = document.getElementById('create-docx')
    create_doc.addEventListener("click", () => {
        let clients = document.getElementById('client-full-info')
        getClientInfo(clients.options[clients.selectedIndex].value)

        let institutions = document.getElementById('institution-info')
        getInstitutionInfo(institutions.options[institutions.selectedIndex].value)

        resetDatesOnFile()
        setNumberFieldsInDoc()
        setPlanNames()

        setTimeout(
            () => {
                var a = $("#summernote").summernote('code')
                Export2Doc(a, clients.options[clients.selectedIndex].text)
            },
            3000
        )
    })
</script>

<!-- Download doc function -->

<script>
    function Export2Doc(content, filename = '') {
        var preHtml = "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
        var postHtml = "</body></html>";
        var html = preHtml + content + postHtml;

        var blob = new Blob(['\ufeff', html], {
            type: 'application/msword'
        });

        // Specify link url
        var url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(html);

        // Specify file name
        filename = filename ? filename + '.doc' : 'document.doc';

        // Create download link element
        var downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);

        if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            // Create a link to the file
            downloadLink.href = url;

            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();
        }

        document.body.removeChild(downloadLink);
    }
</script>


<!-- Get client info based on run -->
<script>
    function getClientInfo(run) {
        url_client_info = `/files/client/${run}/`
        $.ajax(
            url_client_info
        ).done(function(data) {
            summer_code = $("#summernote").summernote("code")
            var regex_nombre_cliente = new RegExp("NOMBRE_CLIENTE", "g")
            summer_code = summer_code.replace(regex_nombre_cliente, data.full_name)
            var regex_rut_cliente = new RegExp("RUT_CLIENTE", "g")
            summer_code = summer_code.replace(regex_rut_cliente, data.run)
            var regex_domicilio_cliente = new RegExp("DOMICILIO_CLIENTE", "g")
            summer_code = summer_code.replace(regex_domicilio_cliente, data.address)
            var regex_nacionalidad = new RegExp("NACIONALIDAD", "g")
            summer_code = summer_code.replace(regex_nacionalidad, data.nationality)
            var regex_profesion = new RegExp("PROFESION", "g")
            summer_code = summer_code.replace(regex_profesion, data.profesion)
            $("#summernote").summernote("reset")
            $("#summernote").summernote("editor.pasteHTML", summer_code)
        })
    }
</script>

<!-- Get institution info based on rut -->
<script>
    function getInstitutionInfo(rut) {
        url_institution_info = `/files/institution/${rut}/`
        $.ajax(
            url_institution_info
        ).done(function(data) {
            summer_code = $("#summernote").summernote("code")
            var regex_business_name = new RegExp("RAZON_SOCIAL_ISAPRE", "g")
            summer_code = summer_code.replace(regex_business_name, data.business_name)
            var regex_rut_isapre = new RegExp("RUT_ISAPRE", "g")
            summer_code = summer_code.replace(regex_rut_isapre, data.rut)
            var regex_address_isapre = new RegExp("DOMICILIO_ISAPRE", "g")
            summer_code = summer_code.replace(regex_address_isapre, data.address)
            var regex_representante = new RegExp("NOMBRE_REPRESENTANTE_LEGAL_ISAPRE", "g")
            summer_code = summer_code.replace(regex_representante, data.name_of_legal_representative)
            $("#summernote").summernote("reset")
            $("#summernote").summernote("editor.pasteHTML", summer_code)
        })
    }
</script>

<!-- Replace date on text -->
<script>
    function resetDatesOnFile() {
        month_names = [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Agosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Diciembre"
        ]

        summer_code = $("#summernote").summernote("code")

        var fecha_envio_carta = $("#datepicker-first").datepicker().value()
        fecha_envio_carta = fecha_envio_carta.split("/")
        fecha_envio_carta = `${fecha_envio_carta[0]} de ${month_names[parseInt(fecha_envio_carta[1])].toLowerCase()} de ${fecha_envio_carta[2]}`
        var regex_fecha_envio = new RegExp("FECHA_ENVIO_CARTA", "g")
        summer_code = summer_code.replace(regex_fecha_envio, fecha_envio_carta)

        var fecha_recepcion_carta = $("#datepicker-second").datepicker().value()
        fecha_recepcion_carta = fecha_recepcion_carta.split("/")
        fecha_recepcion_carta = `${fecha_recepcion_carta[0]} de ${month_names[parseInt(fecha_recepcion_carta[1])].toLowerCase()} de ${fecha_recepcion_carta[2]}`
        var regex_fecha_recepcion = new RegExp("FECHA_RECEPCION_CARTA", "g")
        summer_code = summer_code.replace(regex_fecha_recepcion, fecha_recepcion_carta)

        var mes_comienzo_precio_reajustado = $("#datepicker-third").datepicker().value()
        mes_comienzo_precio_reajustado = mes_comienzo_precio_reajustado.split("/")
        mes_comienzo_precio_reajustado = `${month_names[parseInt(mes_comienzo_precio_reajustado[0])]} de ${mes_comienzo_precio_reajustado[1]}`
        var regex_mes_comienzo_precio = new RegExp("MES_COMIENZA_PRECIO_REAJUSTADO", "g")
        summer_code = summer_code.replace(regex_mes_comienzo_precio, mes_comienzo_precio_reajustado)
        $("#summernote").summernote("reset")
        $("#summernote").summernote("editor.pasteHTML", summer_code)
    }
</script>


<!-- Get number fields -->
<script>
    function setNumberFieldsInDoc() {
        summer_code = $("#summernote").summernote("code")

        let registered_letter_number = $("#registered-letter-number").val()
        var regex_registered_letter_number = new RegExp("NUMERO_CARTA_CERTIFICADA", "g")
        summer_code = summer_code.replace(regex_registered_letter_number, registered_letter_number)

        let porcentaje_aumento_precio_base = $("#porcentaje-aumento-precio-base").val()
        var regex_porcentaje_aumento_precio_base = new RegExp("PORCENTAJE_AUMENTO_PRECIO_BASE", "g")
        summer_code = summer_code.replace(regex_porcentaje_aumento_precio_base, `${porcentaje_aumento_precio_base}%`)

        let precio_base_original = $("#precio-base-original").val()
        var regex_precio_base_original = new RegExp("PRECIO_BASE_ORIGINAL", "g")
        summer_code = summer_code.replace(regex_precio_base_original, precio_base_original)

        let precio_base_reajustado = $("#precio-base-reajustado").val()
        var regex_precio_base_reajustado = new RegExp("PRECIO_BASE_REAJUSTADO", "g")
        summer_code = summer_code.replace(regex_precio_base_reajustado, precio_base_reajustado)

        let precio_final_original = $("#precio-final-original").val()
        var regex_precio_final_original = new RegExp("PRECIO_FINAL_ORIGINAL", "g")
        summer_code = summer_code.replace(regex_precio_final_original, precio_final_original)

        let precio_final_reajustado = $("#precio-final-reajustado").val()
        var regex_precio_final_reajustado = new RegExp("PRECIO_FINAL_REAJUSTADO", "g")
        summer_code = summer_code.replace(regex_precio_final_reajustado, precio_final_reajustado)

        $("#summernote").summernote("reset")
        $("#summernote").summernote("editor.pasteHTML", summer_code)
    }
</script>

<!-- get name plans -->
<script>
    function setPlanNames() {
        summer_code = $("#summernote").summernote("code")

        let plan_salud = document.getElementById('nombre-plan-salud')
        plan_salud_selected = plan_salud.options[plan_salud.selectedIndex].text
        var regex_plan_salud_selected = new RegExp("NOMBRE_PLAN_SALUD", "g")
        summer_code = summer_code.replace(regex_plan_salud_selected, plan_salud_selected)

        let plan_salud_alternativo = document.getElementById('nombre-plan-salud-alternativo')
        plan_salud_alternativo_selected = plan_salud_alternativo.options[plan_salud_alternativo.selectedIndex].text
        var regex_plan_salud_alternativo_selected = new RegExp("NOMBRE_PLAN_ALTERNATIVO", "g")
        summer_code = summer_code.replace(regex_plan_salud_alternativo_selected, plan_salud_alternativo_selected)

        $("#summernote").summernote("reset")
        $("#summernote").summernote("editor.pasteHTML", summer_code)
    }
</script>
{% endblock %}